@import "../../global.scss";
.Third {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  height: 500px;
  border-bottom: 10px solid rgb(58, 58, 58);
  display: flex;

  .container {
    align-items: center;
    display: flex;
    .left {
      flex: 0.5;

      h1 {
        font-size: 50px;
        font-weight: 500;
        @include tablet {
          margin-top: 40px;
          font-size: 35px;
          font-weight: 800;
        }
      }
      h2 {
        padding-top: 15px;
        font-size: 28px;
        @include tablet {
          padding-top: 0;
          font-size: 20px;
        }
      }
    }
    .right {
      flex: 0.5;

      img {
        position: relative;
        width: 500px;
        margin-left: 50px;
        @include tablet {
          width: 300px;
          margin-bottom: 40px;
        }
        @include mobilem {
          width: 300px;
          margin-right: 50px;
        }
        @include mobiles {
          width: 265px;
        }
      }
      .imagecont {
        position: absolute;
        .img1 {
          width: 85px;
          bottom: 200px;
          margin-left: 40px;
          @include tablet {
            bottom: 175px;
            width: 65px;
            margin-left: 20px;
          }
          @include mobilem {
            width: 50px;
            bottom: 170px;
            margin-left: 35px;
          }
          @include mobiles {
            width: 50px;
            bottom: 150px;
            margin-left: 40px;
          }
        }
        .img2 {
          width: 170px;
          bottom: 248px;
          left: 245px;
          @include tablet {
            width: 120px;
            bottom: 195px;
            left: 120px;
          }
          @include mobilem {
            width: 110px;
            bottom: 190px;
            left: 80px;
          }
          @include mobiles {
            width: 100px;
            bottom: 172px;
            left: 40px;
          }
        }
      }
      .videos {
        position: absolute;
        video {
          width: 450px;
          margin-left: 70px;
          bottom: 135px;
          @include tablet {
            width: 270px;
            margin-left: 65px;
            bottom: 122px;
          }
          @include mobilem {
            width: 270px;
            margin-left: 65px;
            bottom: 120px;
          }

          @include mobiles {
            width: 270px;
            margin-left: 65px;
            bottom: 120px;
          }
        }
      }
    }
    @include tablet {
      flex-direction: column;
      text-align: center;
    }
  }
  @include tablet {
  }
}
